@mixin button($dp-style, $width, $height, $line-height, $color-h,$bg-color-h ) {
	display:$dp-style;
	width: $width;
    height: $height;
    line-height: $line-height;
	overflow: hidden;
	position:relative;
	z-index:2;
	transition: all 0.3s;
	text-align: center;
	&::before,
	&::after {
		position: absolute;
		display: block;
		content: '';
		height: 100%;
		width: 100%;
		transition: all 0.3s;
		top: 0;
		left: 0;
	}
	&:hover {
		color: $color-h;
		&::after {
			top: 0;
		    left: 0;
		    z-index: -1;
		    transform: scale(2) rotate(180deg);
		    background-color: $bg-color-h;
		}
	}
}