<div class="form-group"  ng-class="{'has-error':frmSurvey.field_text_{{key}}_{{index}}.$error.required &&
(frmSurvey.field_text_{{key}}_{{index}}.$dirty || submitted)}">
    <input type="text"
        name="field_text_{{key}}_{{index}}"
        ng-model="response[key]['fields'][index]"
        class="form-control" ng-required="field.required" />
    <strong class="help-block" ng-show="frmSurvey.field_text_{{key}}_{{index}}.$error.required &&
    (frmSurvey.field_text_{{key}}_{{index}}.$dirty || submitted)">{{field.message.required}}</strong>
</div>
