/**********************************
  COLOR
**********************************/
// Application Color
$color-primary: #1a1a1a;
$color-accent: #000000;
$color-disabled: #000000;

$color-a: #ededed;
$color-b: #333333;
$color-c: #1a1a1a;
$color-d: #a29175;
$color-e: #bfac8a;
$color-f: #ffffff;
$color-g: #5f5f5f;
$color-h: #666666;
$color-i: #2b2b2b;
$color-j: #797979;
$color-k: #808080;
$color-l: #f4f4f4;
$color-m: #a19076;
$color-n: #cccccc;
$color-o: #f6f6f6;
$color-p: #d1c8b9;
$color-q: #cccccc;
$color-r: #999999;

/**********************************
  SPACE SIZE
**********************************/
$space-base: 4px;
$space-a: $space-base * 1;
$space-b: $space-base * 2;
$space-c: $space-base * 3;
$space-d: $space-base * 4;
$space-e: $space-base * 5;
$space-f: $space-base * 6;
$space-g: $space-base * 7;
$space-h: $space-base * 8;
$space-i: $space-base * 9;
$space-j: $space-base * 10;
$space-k: $space-base * 11;
$space-l: $space-base * 12;
$space-m: $space-base * 13;
$space-n: $space-base * 14;
$space-o: $space-base * 15;
$space-p: $space-base * 16;
$space-q: $space-base * 17;
$space-r: $space-base * 18;
$space-s: $space-base * 19;
$space-t: $space-base * 20;



/**********************************
  RADIUS SIZE
**********************************/
$radius-size-base: 4px;
$radius-size-a: $radius-size-base * 1;
$radius-size-b: $radius-size-base * 2;
$radius-size-c: $radius-size-base * 3;
$radius-size-d: $radius-size-base * 4;

/**********************************
  WIDTH
**********************************/
$width-a:1000px;
$width-b:1200px;


/**********************************
  boxshadow
**********************************/
$box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
/********************************
link
*********************************/
$base-url-a: "../images/icons";
$base-url-b: "../images/thumbs";
/**********************************
font-family
************************************/
$font-family-a: 'Questrial';
$font-family-b: 'Playfair Display', serif;

