.page_index {
  .service {
    .headline {
      height: 740px;
      width: 100%;
      min-width: $width-b;
      overflow: hidden;
      position: relative;
      @media(max-width: 1200px) {
        .image {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -600px;
          margin-top: -370px;
        }
      }
      @media(min-width: $width-b) {
        .image {
          width: 100%;
          min-width: $width-b;
        }
      }
      .triangle {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -272px;
        margin-top: -278px;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -285px;
        margin-top: -36px;
        font-size: 41px;
        color: #ffffff;
        font-family: $font-family-b;
        font-style: italic;
        letter-spacing: 1.5px;
      }
    }
    .service_content {
      min-width: $width-b;
      background-color: #ffffff;
    }
    .service_list {
      @extend %clearfix;
      position: relative;
    }
    .service_item {
      float: left;
      width: 50%;
      @extend %clearfix;
      &:nth-child(1),
      &:nth-child(2) {
        .service_image {
          order: 0;
        }
        .content_detail {
          &:before {
            left: -9px;
            border-style: solid;
            border-width: 9.5px 10px 9.5px 0;
            border-color: transparent #fff transparent transparent;
          }
        }
      }
      &:nth-child(3),
      &:nth-child(4) {
        .service_image {
          order: 1;
          margin-left: -4px;
        }
        .content_detail {
          &:before {
            right: -9px;
            border-style: solid;
            border-width: 9.5px 0 9.5px 10px;
            border-color: transparent transparent transparent #fff;
          }
        }
      }
    }
    .service_link {
      @extend %clearfix;
      display: flex;
    }
    .service_image {
      width: 50%;
      min-width: $width-b/4;
      overflow: hidden;
      &:hover {
        .image {
          transform: scale(1.05);
          transition: .6s ease-out transform;
        }
      }
    }
    .content_detail {
      box-sizing: border-box;
      width: 50%;
      padding: 40px 50px 0;
      position: relative;
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        border-style: solid;
        border-width: 9.5px 10px 9.5px 0;
        border-color: transparent #fff transparent transparent;
      }
    }
    .name {
      font-size: 23px;
      color: $color-b;
      margin-bottom: 20px;
      font-family: $font-family-b;
      & + .sub_name {
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }
    .sub_name {
      font-family: $font-family-b;
      font-size: 15px
    }
    .border {
      width: 10px;
      height: 1px;
      border-top: 1px $color-b solid;
      margin-bottom: 20px;
    }
    .description {
      font-size: 15px;
      color: $color-b;
    }
    .more {
      font-size: 12px;
      color: $color-e;
      letter-spacing: 1px;
      position: absolute;
      bottom: 45px;
      text-transform: uppercase;
      .icons_more {
        vertical-align: -2px;
      }
    }
  }
  .manifesto {
    .headline {
      height: 400px;
      width: 100%;
      min-width: 1200px;
      overflow: hidden;
      position: relative;
      .bg_manifesto {
        background: url('../images/index/bg-manifesto.png') no-repeat;
        position: absolute;
        display: block;
        width: 902px;
        height: 400px;
        left: 50%;
        margin-left: -451px;
      }
      .image {
        width: 100%;
        min-width: 1200px;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -62px;
        margin-top: -90px;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: 1.5px;
      }
      .em {
        font-family: Playfair Display;
        font-size: 43px;
        margin-left: -40px;
        font-style: italic;
      }
      .form_button_more {
        position: absolute;
        width: 104px;
        height: 34px;
        border: 1px solid $color-d;
        letter-spacing: 1px;
        font-size: 11px;
        color: $color-l;
        margin-right: 22px;
        display: inline-block;
        top: 50%;
        left: 50%;
        margin-left: -53px;
        margin-top: 35px;
        .link {
          @include button(inline-block,104px,34px,34px,$color-f,$color-m);
        }
      }
    }
    .manifesto_list {}
    .manifesto_item {
      position: relative;
      background-color: #000;
      min-width: 1200px;
    }
    .order {
      @include headline_triangle(99px,49px,49px,23px);
      .text {
        margin-top: -8px;
      }
    }
    .order.arrow_up {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -49px;
    }
    .manifesto_link {
      @extend %clearfix;
      .manifesto_image1 {
        float: right;
        width: 50%;
      }
      .manifesto_image3 {
        float: right;
        width: 50%;
      }
      .manifesto_image2 {
        float: left;
        width: 50%;
      }
      .content_detail {
        width: 50%;
        float: left;
      }
    }
    .content_detail {
      .content_text {
        padding: 43px 75px;
      }
      .name {
        font-size: 23px;
        font-family: $font-family-b;
        color: $color-f;
      }
      .description {
        font-size: 15px;
        color: $color-f;
        letter-spacing: 1px;
      }
      .slogan {
        font-size: 21px;
        font-family: $font-family-b;
        color: #bfac8a;
        font-style: italic;
        .slogan_text {
          margin: 0 35px;
        }
        .icon_comma1 {
          margin-bottom: 0;
          margin-left: 0;
        }
        .icon_comma2 {
          margin: 0 0 65px 485px;
        }
      }
    }
  }
  .client {
    background-color: #ededed;
    .headline {
      .text {
        font-size: 35px;
        text-align: center;
        font-family: $font-family-b;
        font-style: italic;
        padding: 70px 0 25px;
      }
      .sub_text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 27px;
      }
    }
    .client_content {
      width: 822px;
      margin: 0 auto;
      text-align: center;
      height: 338px;
      padding-top: 50px;
    }
    .client_list {
      @extend %clearfix;
    }
    .client_item {
      width: 20%;
      float: left;
      margin-bottom: 60px;
      height: 50px;
      line-height: 50px;
    }
    .ui-tabs-nav {
      text-align: center;
      .ui-state-default {
        display: inline-block;
        .ui-tabs-anchor {
          height: 3px;
          width: 60px;
          display: block;
          margin-right: 10px;
          background-color: #fff;
          &:hover,
          &:focus {
            outline: 0;
          }
        }
        &.ui-state-active {
          .ui-tabs-anchor {
            background-color: #bfac8a;
          }
        }
      }
    }
  }
  .contact {
    background-color: $color-primary;
    *::selection {
      background: $color-d;
      color: $color-f;
    }
    .container {
      width: 880px;
      color: $color-f;
      margin: 0 auto;
    }
    .title {
      text-align: center;
      padding-top: 65px;
      padding-bottom: 50px;
      .title_icon {
        margin-bottom: 20px;
      }
      .title_contact {
        font-size: 32px;
        font-style: italic;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        color: $color-f;
      }
      .title_description {
        margin-top: 25px;
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }
    .form_contact {
      margin: 0 auto;
      width: 717px;
      .form_group {
        width: 708px;
        height: 42px;
        margin-bottom: 8px;
        display: inline-block;
      }
      .form_group_comment {
        height: 155px;
        width: 687px;
        margin-top: 10px;
      }
      .label {
        width: 140px;
      }
      .input_contact {
        width: 568px;
        float: right;
      }
      .form_input {
        width: 542px;
        height: 42px;
        float: right;
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
        color: $color-k;
        background: $color-b;
        letter-spacing: 1px;
        text-align: left;
        border: none;
        border-radius: 0px;
        padding-left: 21px;
        margin-top: -25px;
        float: left;
        &:focus {
          background-color: $color-l;
        }
        li {
          &:hover {
            background-color: $color-l;
          }
        }
      }
      .form_input_comment {
        float: left;
        width: 530px;
        height: 155px;
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
        color: $color-k;
        background: $color-b;
        letter-spacing: 1px;
        text-align: left;
        border: none;
        border-radius: 0px;
        padding: 13px 13px 13px 21px;
        margin-left: 21px;
        margin-top: -31px;
        &:focus {
          background-color: $color-l;
        }
      }
      .form_label {
        width: 123px;
        text-align: right;
        letter-spacing: 1px;
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
        padding-top: 12px;
        float: right;
        margin-right: 22px;
      }
      .form_button {
        margin-left: 144px;
        margin-top: 35px;
        margin-bottom: 62px;
        height: 46px;
        display: inline-block;
        .form_button_submit {
          width: 170px;
          height: 44px;
          border: 1px solid $color-d;
          background-color: $color-primary;
          letter-spacing: 1px;
          font-family: 'Questrial', sans-serif;
          font-size: 11px;
          color: $color-e;
          margin-right: 22px;
          display: inline-block;
          .link {
            @include button(inline-block,170px,44px,44px,$color-f,$color-m);
          }
        }
        .form_button_reset {
          width: 170px;
          height: 44px;
          border: 1px solid $color-b;
          background-color: $color-primary;
          letter-spacing: 1px;
          font-family: 'Questrial', sans-serif;
          font-size: 11px;
          color: $color-j;
          display: inline-block;
          .link {
            @include button(inline-block,170px,44px,44px,$color-f,$color-b);
          }
        }
      }
      .attract_file {
        position: relative;
        margin-top: -32px;
        margin-right: 10px;
        @extend %clearfix;
      }
      .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
        background-color: #333;
        height: 42px;
        width: 142px;
        text-align: center;
        float: left;
      }
      .fileUpload .upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100%;
        text-align: center;
      }
      .custom-span {
        display: block;
        height: 16px;
        width: 21px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 13px;
        margin-left: -8px;
      }
      #uploadFile {
        border: none;
        margin-top: 23px;
        background: none;
        color: #f0f0f0;
        width: 300px;
      }
    }
  }
}
